* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    max-width: 1000px;
    margin: auto;
    background-color: whitesmoke;
}

/* Hero */
header {
   width: 1000px;
   height: 540px;
    
    border: 1px solid red;
}

.hand {
    width: 500px;
    height: 540px;
    
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    height: 3rem;
    border: 1px solid black;

    a {
        text-decoration: none;
    }
}


