* {
    box-sizing: border-box;
}

body {
    height: 100%;
    max-width: 1000px;
    margin: auto;
    box-shadow: 0px 4px 4px 0px #03382f1c;
    background-color: whitesmoke;
}

/* Min header */
header {
    display: flex;
    max-height: 540px;
    position: relative;
}

.hand-img {
    object-fit: cover;
    width: 50%;
}

.hand-logo-svg {
    display: flex;
    align-items: center;
    padding: 200px 0px 0px 130px;
    
    position: absolute;
}  

/* Container omsluter seedling och dig */
.flex-container {
    display: flex;
    flex-direction: column;
    width: 50%;

}

.seedling-svg {
   height: 50%;
   padding: 30px 0px 0px 150px;
   background-color: #9e6d52;
}

.dig-svg {
    height: 50%;
    padding: 30px 0px 0px 150px;
    background-color: #0a846e; 
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 3rem;
    box-shadow: 0px 4px 4px 0px #03382f1c;

    a {
        text-decoration: none;
        color: #0a846e;
        font-size: larger;
        font-family: Arial, Helvetica, sans-serif;
    }
    a:hover {
        background-color: lightgray;

    }
}

.main-title {
    display: flex;
    justify-content: center;
    
    font-family: Arial, Helvetica, sans-serif;
    color: #0a846e;
}

/* Första section*/
.circle-container { 
    display: flex;
}

.circle {
    height: 25rem;
    width: 25rem;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: #0a846e;
}

.text-container {
    flex: 1;
    padding-left: 20px;
    align-self: center; 
    font-size: calc( 70% + 70%);
}


.button {
    background-color: #0a846e; 
    width: 10rem; 
    height: 3rem;
    border: none;
    color: white;
    border-radius: 8px; 
    margin-left: 60%;
}

.horizontal-rule {
    grid-column: 6 / 9;

}

/* Min andra section */
.section-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    gap: 20px;
   
}

.second-title {
    display: flex;
    justify-content: center;
}

.card-container {
    width: 290px;  
    height: 400px;
    position: relative;
    box-shadow: 0px 4px 4px 0px #03382f1c;
}

.card-img {
    width: 290px;
    height: 300px;
    object-fit: cover; 
}

.card-svg {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-content {
  display: flex;
  justify-content: space-around;
}

.card-container button {
    color: white;
    background-color: #b93857;
    border: none;
    border-radius: 5px;
    width: 5rem;
}

.footer-btn {
    grid-column: 2/3;
    place-self: center;
}

.footer-btn-style {
    background-color: #0a846e;
    border: none;
    border-radius: 3px;
    height: 2rem;
    width: 6rem;
    color: white;
}

/* Min tredje section */
.container-2  {
    display: flex;
    flex-direction: row-reverse;
}

.button-2 {
    background-color: #0a846e; 
    width: 50%; 
    height: 4rem;
    border: none;
    color: white;
    border-radius: 8px; 
}

/* Footer */
.footer-content {
    margin-top: 5rem;
    position: relative;
}

.footer-img {
    width: 100%;
    height: 650px;
    object-fit: cover;
}

.footer-svg {
    position: absolute;
    top: 30%;
    right: 15%;

}

#footer-h2 {
    text-align: center;
    padding-bottom: 25px;
    font-family: sans-serif;
}

.footer-overlay {
    position: absolute;
    top: 0;
    width: 50%;
    height: 650px;
    background-color: rgba(0, 0, 0, 0.5); 
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.overlay-left {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.overlay-right {
    position: absolute;
    bottom: 10px;
    right: 10px;
}